@import "reset";
@import "helpers";
@import "config";
@import "components/base";
@import "mixing/base";

h1 {
  font-size: 52px;
  margin-bottom: 20px;
}

h2 {
  font-size: 43px;
}

h3 {
  font-size: 32px;
}

p {
  font-size: 17px;
}

button {
  font-size: 16px;
  border: none;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px 2px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form-block {
  label {
    display: block;
    margin-bottom: 2px;
  }
}

form {
  .form-content {
    margin-bottom: 15px;
  }
  .error {
    color: indianred;
    font-size: 12px;
  }
}
