{
  "extends": ["eslint:recommended", "airbnb", "plugin:prettier/recommended"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "import/prefer-default-export": "off",
    "prettier/prettier": "warn",
    "no-unused-vars": "error",
    "no-console": "off",
    "func-names": "off",
    "no-process-exit": "off",
    "object-shorthand": "off",
    "class-methods-use-this": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": ["off"],
    "react/function-component-definition": ["off"],
    "react/jsx-props-no-spreading": ["off"],
    "jsx-a11y/label-has-associated-control": ["off"],
    "jsx-a11y/anchor-is-valid": [ "off"],
    "no-param-reassign": ["off"],
    "import/no-extraneous-dependencies": ["warn"],
    "no-use-before-define": ["warn"],
    "no-restricted-syntax": ["warn"],
    "no-plusplus": ["warn"],
    "react/no-array-index-key": ["warn"],
    "jsx-a11y/click-events-have-key-events": ["warn"],
    "jsx-a11y/no-static-element-interactions": ["warn"],
    "react/jsx-no-bind": ["warn"],
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "mocha": true,
    "browser": true
  },
  "overrides": [
    {
      "files": [
        "**/*.test.js",
        "**/*.test.jsx"
      ],
      "env": {
        "jest": true
      }
    }
  ]
}
