.btn {
  color: #2d2d2d;
  padding: 10px 5px;
  border-radius: 5px;
  background-color: #fafafa;
}

.btn-block {
  width: 100%;
}

.btn-primary {
  color: $color-primary;
  background-color: $bg-color-primary;
}
