@import "../../config";
@import "../../mixing/base";

.navbar {
  padding: 20px 0;
  background-color: $bg-color-primary;
  color: $color-primary;

  @include respond-to(small) {
    text-align: center;
  }
}

.navbar-icon {
  p {
    text-align: right;

    @include respond-to(medium) {
      text-align: left;
    }

    @include respond-to(small) {
      text-align: center;
      margin-top: 20px;
    }
  }
}
